name: publish

on: [push]

jobs:
  publish-landsbooking-image:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    
    - name: Login to GitHub Container Registry
      uses: docker/login-action@v1
      with:
        registry: ghcr.io
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}

    - name: Build the landsbooking Docker image
      run: |
        docker build . --tag ghcr.io/jrobii/landsbooking:latest
        docker run ghcr.io/jrobii/landsbooking:latest
        docker push ghcr.io/jrobii/landsbooking:latest
